$background-gray: #2E2E2E;
$background-gray-7: #707070;
$color-white: #ffffff;
$color-gray: #777777;
$color-dark-500: #414141;
$color-primary-300: #FFCC21;
$color-primary-400: #FF963C;
$color-primary-500: #EA6C00;
