.menu-category {
  max-width: 80%;

  .categories {
    width: 136px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../../../assets/images/group48.png");

    img {
      width: 56px;
      height: 56px;
    }

    .category-name {
      font-size: 20px;
    }
  }
}
