@import "src/assets/scss/variable";

.column-category {
  .categories {
    background-color: $background-gray;
  }

  .category-name {
    color: $color-primary-300;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.10999999940395355px;
    text-align: center;
  }

  .divider {
    width: 56px;
    height: 1px;
    background-color: $color-white;
    margin: 10px 0;
  }

  .column-category-desc {
    width: 80%;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;

  }
}